@model IEnumerable<MusicS.Models.Album>

    <div class="text-center">
 <div class="container d-flex justify-content-center mt-50 mb-50">
      <div class="row">
     @foreach (var album in Model){
   
        <div class="col-md-4 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"> <img src="@album.ImageUrl" class="card-img img-fluid" width="96" height="350" alt=""> </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <p class="card-title h4 text-primary"><b>@album.Title</b> </p>
                        <p class="card-title h5 text-info">@album.Band </p>
                    </div>
                    <h3 class="mb-0 font-weight-semibold"><strike><b>$@album.ListPrice.ToString("0.00")</b> </strike></h3>
                    <h3 class="mb-0 font-weight-semibold"><b>$@album.Price.ToString("0.00")</b></h3>
                    <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
                     <div>
                            <a asp-action="Details" class="btn btn-primary form-control" asp-route-id="@album.Id">
                                Buy
                            </a>
                            
                        </div>
                </div>
            </div>
        </div>
        }
        </div>
        
        </div>
        </div>