@model Genre
@{
    ViewData["Title"] = "Add";
}

<form method="post" asp-action=DeletePOST>
    <input hidden asp-for="Id" />
    <div class="border p-3 mt-4" style="font-weight:bold">
        <div class="row pb-2">
            <div class="text-primary">Delete Genre</div>
        </div>

        <div class="mb-3">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" disabled class="form-control" />
           
        </div>
       
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="Genre" asp-action="Index" class="btn btn-info" style="width:200px">Back to list</a>
    </div>

</form>

