@model Genre
@{
    ViewData["Title"] = "Add";
}

<form method="post" asp-action=Edit>
    <div class="border p-3 mt-4" style="font-weight:bold">
        <div class="row pb-2">
            <iv class="text-primary">Edit Genre</iv>
        </div>

        <div class="mb-3">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success" style="width:150px">Update</button>
        <a asp-controller="Genre" asp-action="Index" class="btn btn-info" style="width:200px">Back to list</a>
    </div>

</form>

